/*

Author: Benoit Bucher
Date: April 2020

Description: this file is the CSS style file called in my HTML file

*/



/* ---- BODY ---- */
/* -------------- */


/* When we apply properties to the body balise, all the page will be impacted */
body {
    background-color: #FFFFFF;
    /* page background as it is declared in body */
    /*color: #000000;
    font-family: Work Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;*/
    margin: auto 0;
}



/* Header */

header {
    position: fixed;
    /*sticky*/
    width: 100%;
    left: 0px;
    top: 0px;
    height: 64px;

    background-color: white;

    z-index: 9000;
    /* header is above everything */
}

/* White rectangle to hide the drop shadow of the header when there is no scroll */

#dropShadowHeaderWhiteScreen {
    position: absolute;
    top: 64px;
    /* the white rectangle shall be just below the header */
    height: 10px;
    /* the height of the white rectangle shall be as big as the offset position of the shadow plus the blur */
    width: 100%;
    background-color: white;
    z-index: 2;
    /* the white rectangle shall be below the header for it to remain hidden when scrolling down the page */
}

/* Drop shadow for the header that will appear when there is scroll */

#dropShadowHeader {
    position: fixed;
    /* stays with the header */
    top: 54px;
    /* the shadow shall start just below the header */
    height: 10px;
    width: 100%;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.23);
    z-index: 1;
    /* the shadow shall be below the white rectangle */
}

/* Fixed top bar left part */

/* Click zone */

#menuLogoClickZone {
    position: absolute;
    width: 203px;
    /*187px;*/
    height: 48px;
    left: 8px;
    /*16px;*/
    top: 8px;
}

/* Logo vector */

#menuLogo {
    position: absolute;
    width: 48px;
    height: 48px;
    left: 8px;
    /*16px;*/
    top: 0px;
    /* 8px; */

    background-image: url("logo/logoVector.svg");
    background-size: contain;
}

#menuTitle {
    position: absolute;
    width: 140px;
    height: 26px;
    left: 72px;
    /*80px;*/
    top: 11px;
    /*19px;*/
}

/* Fixed top bar right part: Navigation */
nav {
    position: absolute;
    top: 12px;
    /* the menu is at 20px from the top (8px padding in nav a) */
    right: 28px;
    /* the menu is at 32px from the right (4px padding in nav a) */
    height: 40px;
    /* height of 24px + 8px padding on top and bottom for click zone */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 340px;
}

nav a {
    /* Each menu category is spaced by 32 px */
    /* Padding is added to increase link touch target */
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;

    text-decoration: none;
    /* underline */
}

nav a:hover {
    text-decoration: underline;
    /* underline link when mouse hover over it */
    text-underline-offset: 8px;
    /* set the space between text and underline to a higher value */
}

.curentPageMenu {
    text-decoration: underline;
    /* underline link when mouse hover over it */
    text-underline-offset: 8px;
    /* set the space between text and underline to a higher value */
}



/* homepage MAIN container applicable to index.html page and photo.html page */

#homepageCore {
    display: flex;
    flex-direction: column;

    min-height: 100vh;
    /* it allows to have the footer bellow the scroll even if the page is smaller than the viewport height */

    /* background-color: yellow; */
}

/* homepage container */

#homepagePic {
    flex: 1;
    /* for the picture to fill the whole area available of the parent */

    margin-top: 184px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;
    min-height: 400px;
    /* minimum height is defined here for the homepage picture in desktop version */

    background-image: url("pictures/homePage/P2470918-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* fill all the available space without change in aspect ratio */
}

#homepagePic blockquote {
    margin: 0px;
}

blockquote p {
    margin: 80px 80px 24px 80px;
    /* top right bottom left */
    text-align: left;
    text-shadow: 0px 4px 5px rgba(0, 0, 0, 0.40);
}

.nobreak {
    /* this class is used to specified that a part of the text cannot be broken in two lines */
    white-space: nowrap;
}


/* profilepage container */

#profilepageMain {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    margin: auto;
    margin-top: 184px;
    margin-bottom: 24px;
    width: 760px;
}

/* main container for the profile picture and the about text */

#aboutMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    margin-top: 80px;
}

#profilepageMain p {
    margin: 0px;
    /* no margin for the quote and the description, margin are adde in the other surrounding components if needed */
    text-align: left;
    /* align text of the quote and of the description on the left */
}

.profilePic {
    display: block;
    object-fit: cover;
    /* fill all the available space without change in aspect ratio */
    object-position: center;

    min-height: calc(100vh - 400px);
    /* set a minimum height for the picture to reach until bottom of page at least on big screans */
    width: 364px;
    /* set width to half of the parent minus centre margin of 32px */
}

#aboutMain section {
    width: 364px;
    /* set width to half of the parent minus centre margin of 32px */
}

#aboutMain h1 {
    margin: 0px;
    margin-bottom: 32px;
    height: 38px;

    text-align: left;
}

/* photopage container */

#photopageAlbum {
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;

    margin-top: 144px;
    /*160px;*/
    /* top margin is provided by each child item */
    margin-bottom: 24px;
    margin-left: 0px;
    /* left margin is provided by each child item */
    margin-right: 24px;

    /* note: no size shall be specified with flex not explicitely; it is defined in the child */
}

.photoAlbumItem {
    display: flex;
    flex-direction: column;
    /* put the title and date on top and the picture bellow */

    width: calc((100% - 4 * 24px) / 4);
    /* four blocks per row in desktop version */
    height: 16vw;
    /*padding-bottom: 60%;*/
    margin-top: 40px;
    /*24px;*/
    margin-left: 24px;

    /* background-color: purple; */
    text-decoration: none;
    /* underline */
}

.photoAlbumTitle {
    display: flex;
    flex-direction: row;
    /* put the title and the date on the same row */
    justify-content: space-between;
    /* put the title on the left and the date on the right */
    align-items: flex-end;
    /*center;*/
    /* have the title and the date bottom on the same line along secondary axis */
}

.photoAlbumTitle p {
    margin: 0px;
    width: 48px;
    /* a date will always fit in this box width */
    text-align: right;
    padding-bottom: 4px;
    /* to have the title and date bottom aligned and componsate for the differente line height */
}

.photoAlbumItem h2 {
    flex: 1;

    margin: 0px;
    min-width: 200px;
    height: 26px;
    text-align: left;
}

.photoAlbumItemPic {
    display: block;

    margin-top: 16px;
    margin-bottom: 0px;

    height: calc(100% - 16px - 26px);
    /* set the size 100% minus the title height and the margin */
    width: 100%;
    /* set size to the same as the parent one for the picture to fill the whole container */

    object-fit: cover;
    /* fill all the available space without change in aspect ratio */
    object-position: center;
}

/* contactpage container */

#contactpageMain {
    flex: 1;
    /* for the page to fill the whole area available of the parent */

    display: flex;
    flex-direction: column;
    justify-content: center;
    /* the content is centered vertically */
    align-items: center;
    /* the content is centered horizontally */

    margin-top: 184px;
    /* same margin on bottom and top to have a minimum margin when the flex center behaviour is no more relevant when viewport size is too small */
    margin-bottom: 184px;
    margin-left: 24px;
    /* content is centered horizontally with flex, and minimum 24px margin is ensured */
    margin-right: 24px;

}

#contactpageMain section {
    width: 364px;
    /* same width as the width of the description in the about section on the profile page */
}

#contactpageMain h1 {
    margin: 0px;
    margin-bottom: 32px;
    /* margin between title and the text bellow */
    height: 38px;
    text-align: left;
    /* align text on the left */
}

#contactpageMain p {
    margin: 0px;
    margin-bottom: 48px;
    /* margin between the text and the icons bellow */
    text-align: left;
    /* align text on the left */
}

/* contact page icons for social media */

#socialMediaLinks {
    display: flex;
    flex-direction: row;
    /* put all the icons on one line */
    justify-content: left;
    /* the content is aligned on the left */

    margin: 0px;
    /* no margin, nothing to be added bellow and main margin is provided by upper container */
}

#socialMediaLinks a {
    display: block;

    margin: 0px;
    margin-right: 28px;
    /*12px; /* spacing between icons is 28px minus 8px padding on each side */
    /*padding: 8px;*/
    width: 28px;
    /* icon size */
    height: 28px;

    background-size: contain;
    /* for each icon to fill the space of the size specified above */
}

#iconLinkedin {
    background-image: url("logo/iconLinkedin.svg");
}

#iconLinkedin:hover {
    background-image: url("logo/iconLinkedinColor.svg");
}

#iconTwitter {
    background-image: url("logo/iconTwitter.svg");
}

#iconTwitter:hover {
    background-image: url("logo/iconTwitterColor.svg");
}

#iconInstagram {
    background-image: url("logo/iconInstagram.svg");
}

#iconInstagram:hover {
    background-image: url("logo/iconInstagramColor.svg");
}

#iconMail {
    background-image: url("logo/iconMail.svg");
}

#iconMail:hover {
    background-image: url("logo/iconMailColor.svg");
}




/* album000page container */

#album000page {
    flex: 1;
    /* for the page to fill the whole area available of the parent */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* the content starts at the top */
    align-items: flex-start;
    /* the content starts on the left */

    margin-top: 184px;
    /* same margin as all pages */
    margin-bottom: 24px;
    margin-left: 24px;
    /* 24px margin on left and right side */
    margin-right: 24px;
}

#album000page section {
    width: calc((100% - 24px) / 2);
    /* half a screen minus the margins (left and right margins are already taken into account on the above container, only the central one is accounted here) */
}

#album000page h2,
#album000page p {
    margin: 0px;
    /* no margin as the spacing is ensured by the above and bellow components */
    text-align: left;
}

#album000page .photoAlbumTitle {
    margin-bottom: 32px;
    /* title and description of the album are spaced by 32 px */
}

/* container for all the photos of one album */

#albumPhotosContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* space-between;*/
    align-items: flex-start;
    flex-wrap: wrap;

    width: 100%;
    margin-top: 80px;
    /* first picture is at 80px from the bottom of the album description */
}


#albumPhotosContainer img {
    /* default behaviour for pictures of the album if javascript does not apply */
    margin-bottom: 24px;
    width: 100%
}


/* Footer */

footer {
    /*clear: both;*/
    position: relative;
    height: 64px;
    left: 0%;
    right: 0%;
    bottom: -64px;
    margin-top: -64px;
}


/* copyright */

footer p {
    position: absolute;
    height: 9px;
    width: 200px;
    /*189px;*/
    left: calc(50% - 200px/2);
    /*calc(50% - 189px/2 - 0.5px);*/
    bottom: 16px;
}




/* --- FONTS --- */
/* ------------- */

/* top bar title */

.topBarTitleFont {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22.6px;
    line-height: 26px;
    color: #000000;

    /*display: flex;*/
    align-items: left;
    margin: auto;
}


/* bigtitle font */

.bigtitleFont {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 45.2px;
    line-height: 53px;
    color: #000000;

    /* identical to box height */
    /*display: flex;*/
    align-items: center;
    text-align: center;
}


/* title */

.titleFont {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 37px;
    color: #000000;

    /* identical to box height */
    /*display: flex;*/
    align-items: center;
    text-align: center;
}


/* subtitle font */

.subtitleFont {
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22.6px;
    line-height: 26px;
    color: #000000;

    /*display: flex;*/
    align-items: center;
}


/* text */

.textFont {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    /* or 150% */
}


/* light text */

.textLightFont {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    /* BE CAREFUL when using lighter weight, they have to be imported from fonts for each weight to be able to use it */
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    /* identical to box height, or 150% */
    /*display: flex;
    align-items: center;*/
    text-align: center;
}


/* tertiary */

.tertiaryFont {
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    /* BE CAREFUL when using lighter weight, they have to be imported from fonts for each weight to be able to use it */
    font-size: 8px;
    line-height: 9px;
    color: rgba(61, 61, 61, 0.9);

    /*display: flex;
    align-items: center;*/
    text-align: center;
    margin: auto;
}


/* bigQuote */

.bigQuoteFont {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 45.2px;
    line-height: 150%;
    color: #000000;

    /* or 68px */
    /*display: flex;*/
    align-items: center;
}


/* quote */

.quoteFont {
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22.6px;
    line-height: 30px;
    color: #FFFFFF;

    /*display: flex;*/
    align-items: center;
}




/* --- LIGHTBOX --- */
/* ---------------- */


/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 9900;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: white;
    width: 100%;
    height: 100%;
}

/* The Close Button */
.close {
    position: absolute;
    right: 24px;
    top: 24px;
    width: 32px;
    height: 32px;

    background-image: url("logo/button_close.svg");
    background-size: contain;
}

/* Hide the slides by default */
.mySlides {
    display: none;
    /* add 80px margin all around */
    margin: 80px;
    /* height and width are 100% minus margins */
    width: calc(100% - 160px);
    height: calc(100% - 160px);
}

.mySlides img {
    display: block;
    /* use important here even though it is bad practice as it is required to remove the margin added from albumPhotosContainer img, that is used in case javascript does not work */
    margin-bottom: 0px !important;

    max-height: 100%;
    max-width: 100%;

    object-fit: contain;
    object-position: center;
}

/* Previous buttons */
.prev {
    position: absolute;
    z-index: 9990;

    left: 24px;
    top: calc(50% - 16px);
    width: 24px;
    height: 24px;
    padding: 4px;

    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;

    background-image: url("logo/button_left.svg");
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
}

/* Next button */
.next {
    position: absolute;
    z-index: 9990;

    right: 24px;
    top: calc(50% - 16px);
    width: 24px;
    height: 24px;
    padding: 4px;

    transition: 0.6s ease;
    user-select: none;
    -webkit-user-select: none;

    background-image: url("logo/button_right.svg");
    background-size: 24px 24px;
    background-position: center;
    background-repeat: no-repeat;
}

/* Number text (1/3 etc) */
.numbertext {
    /*position: absolute;*/
    position: fixed;

    width: 320px;
    height: 26px;
    left: calc(50% - 320px/2);
    bottom: 27px;
    text-align: center;

}

.active {
    opacity: 1;
}

img.hover-shadow {
    cursor: pointer;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    cursor: pointer;
    /*right: 20px;
    top: 20px;
    width: 40px;
    height: 40px;*/
}

.prev:hover,
.next:hover {
    cursor: pointer;
    /*background-color: rgba(0, 0, 0, 0.8);*/
}

.hover-shadow:hover {
    /*box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
}






/* --- MEDIA QUERY FOR RESPONSIVE --- */
/* ---------------------------------- */


/* default version is desktop */


/* tablet version */
@media only screen and (min-width: 768px) and (max-width: 1199.99px) {

    /* OK home page */
    /* the margins of the quotes can remain the same and the minimum height of the homepage is also good */
    /* the minimum height of 400px for the homepage pic can be kept as the screen is much likely bigger since its width is minimum 768px and we don't want the pic to be too small anyway */


    /* OK profile page */
    /* main content width is reduced to 720px and font size for the quote is set to a smaller value to fit on two line only */

    #profilepageMain {
        width: 720px;
    }

    .profilePic {
        width: 348px;
        /* set width to half of the parent minus centre margin of 24px */
    }

    #aboutMain section {
        width: 348px;
        /* set width to half of the parent minus centre margin of 24px */
    }

    .bigQuoteFont {
        /* make the big quote a bit smaller for this screen size */
        font-size: 42px;
    }


    /* OK photo page */
    /* album vignettes are set to be three per columb instead of four for the desktop version */

    .photoAlbumItem {
        width: calc((100% - 3 * 24px) / 3);
        /* three blocks per row in tablet version */
        height: 18vw;
        /* aspect ratio is a bit increased for tablet version */
    }


    /* OK albumXXX page */
    /* the margins and size of elements seems ok even when the screen size is this small */


    /* OK contact page remains the same */
    /* the content size can remain the same and the minimum margins ensures a nice resizing behaviour for the tablet and the desktop version */

}

/* mobile version */
@media only screen and (min-width: 480px) and (max-width: 767.99px) {
    /* TODO home page */

    /* TODO profile page */

    /* TODO photo page */

    /* TODO albumXXX page */

    /* TODO contact page */

}

/* small mobile version */
@media only screen and (max-width: 479.99px) {
    /* TODO home page */

    /* TODO profile page */

    /* TODO photo page */

    /* TODO albumXXX page */

    /* TODO contact page */


}






/*.cover {
    flex: 1;
    width: 100%;
    object-fit: cover;
}*/

/*#mainWrapper
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}*/

/* #photopageCore
{
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    background-color: yellow;
}*/

}