
/*

Author: Benoit Bucher
Date: April 2020

Description: this file is the CSS style file called in my HTML file

*/



/* ---- BODY ---- */
/* -------------- */


/* When we apply properties to the body balise, all the page will be impacted */
body
{
    background-color: #FFFFFF; /* rgb(47,72,87);*/ /* page background as it is declared in body */
    /*color: #000000; /* rgb(210, 213, 219);*/ /* text color */
    /*font-family: Work Sans;
    /*font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;*/
    margin: auto 0;
}




/* Header */

header
{
    position: fixed; /*sticky*/
    width: 100%;
    left: 0px;
    top: 0px;
    height: 64px;

    background-color: blue;
}

/* Fixed top bar left part */

/* Click zone */

#menuLogoClickZone
{
    position: absolute;
    width: 203px;/*187px;*/
    height: 48px;
    left: 8px; /*16px;*/
    top: 8px;
}

/* Logo vector */

#menuLogo
{
    position: absolute;
    width: 48px;
    height: 48px;
    left: 8px;/*16px;*/
    top: 0px;/*8px;*/

    background-image: url("logo/logoVector.svg");
    background-size: contain;
}

#menuTitle
{
    position: absolute;
    width: 123px;
    height: 26px;
    left: 72px;/*80px;*/
    top: 11px;/*19px;*/
}

/* Fixed top bar right part: Navigation */
nav
{
    position: absolute;
    top: 12px; /* the menu is at 20px from the top (8px padding in nav a) */
    right: 28px; /* the menu is at 32px from the right (4px padding in nav a) */
    height: 40px; /* height of 24px + 8px padding on top and bottom for click zone */

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 340px;
}

nav a
{
    /* Each menu category is spaced by 32 px */
    /* Padding is added to increase link touch target */
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 8px;
    padding-bottom: 8px;

    text-decoration: none; /* underline */
}

nav a:hover
{
    /* underline link when mouse hover over it */
    text-decoration: underline;
}



/* homepage MAIN container applicable to index.html page and photo.html page */

#homepageCore
{
    display: flex;
    flex-direction: column;

    min-height: 100vh; /* it allows to have the footer bellow the scroll even if the page is smaller than the viewport height */

    background-color: yellow;
}

/* homepage container */

#homepagePic
{
    flex: 1; /* for the picture to fill the whole area available of the parent */
    
    margin-top: 184px;
    margin-bottom: 24px;
    margin-left: 24px;
    margin-right: 24px;

    background-image: url("pictures/homePage/P2470918-2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; /* fill all the available space without change in aspect ratio */
}

/* photopage container */

#photopageAlbum
{
    display: flex;
    flex-direction: row;
    justify-content: start;
    flex-wrap: wrap;

    margin-top: 144px; /*160px;*/ /* top margin is provided by each child item */
    margin-bottom: 24px;
    margin-left: 0px; /* left margin is provided by each child item */
    margin-right: 24px;

    /* note: no size shall be specified with flex not explicitely; it is defined in the child */
}

.photoAlbumItem
{
    display: flex;
    flex-direction: column; /* put the title and date on top and the picture bellow */

    min-width: 248px; /* WARNING: this has been added for title and date of the album not to mess up, but it also has the consequence to mess up with the flex wrap of the albums, so it can be removed if the flex wrapping is not handled properly later with media queries for instance */
    width: calc((100% - 4 * 24px) / 4); /* four blockes per row in desktop version */
    height: 30vh; /*padding-bottom: 60%;*/
    margin-top: 40px; /*24px;*/
    margin-left: 24px;

    background-color: purple;
}

.photoAlbumTitle
{
    display: flex;
    flex-direction: row; /* put the title and the date on the same row */
    justify-content: space-between; /* put the title on the left and the date on the right */
    align-items: center; /* centre item along secondary axis */
}

.photoAlbumItem p
{
    margin: 0px;
    width: 48px; /* a date will always fit in this box width */
    text-align: right;
}

.photoAlbumItem h2
{
    flex: 1;
    
    margin: 0px;
    min-width: 200px;
    height: 26px;
    text-align: left;
}

.photoAlbumItemPic
{
    height: calc(100% - 16px - 26px); /* set the size 100% minus the title height and the margin */
    width: 100%;

    margin-top: 16px;
    margin-bottom: 0px;
}

.albumVignette
{
    height: 100%; /* set size to the same as the parent one for the picture to fill the whole container */
    width: 100%;

    object-fit: cover; /* fill all the available space without change in aspect ratio */
    object-position: center;   
}


/* Footer */

footer
{   
    /*clear: both;*/
    position: relative;
    height: 64px;
    left: 0%;
    right: 0%;
    bottom: -64px;
    margin-top: -64px;
}


/* copyright */

footer p
{
    position: absolute;
    height: 9px;
    width: 200px;/*189px;*/
    left: calc(50% - 200px/2);/*calc(50% - 189px/2 - 0.5px);*/
    bottom: 16px;
}




/* --- FONTS --- */
/* ------------- */

/* top bar title */

.topBarTitleFont
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22.6px;
    line-height: 26px;
    color: #000000;
    
    /*display: flex;*/
    align-items: left;
    margin:auto;
}


/* subtitle font */
.subtitleFont
{
    font-family: 'Roboto Condensed', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22.6px;
    line-height: 26px;

    color: #000000;

    /*display: flex;*/
    align-items: center;
}


/* light text */

.textLightFont
{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    /* identical to box height, or 150% */
    /*display: flex;
    align-items: center;*/
    text-align: center;
}


/* tertiary */

.tertiaryFont
{
    font-family: 'Work Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 8px;
    line-height: 9px;
    color: rgba(61, 61, 61, 0.9);

    /*display: flex;
    align-items: center;*/
    text-align: center;
    margin:auto;
}

/* quote */

.quoteFont
{
    font-family: 'Playfair Display', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22.6px;
    line-height: 30px;
    color: #FFFFFF;

    display: flex;
    align-items: center;    
}





/*.cover {
    flex: 1;
    width: 100%;
    object-fit: cover;
}*/

/*#mainWrapper
{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}*/

/* #photopageCore
{
    display: flex;
    flex-direction: column;

    min-height: 100vh;

    background-color: yellow;
}*/

}
